html,body {
    font-family: 'Open Sans', serif;
    color: white;
}
.hero.is-fullheight {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.hero-body {
    padding: 0;
    margin: 0;
}
.hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
}
p.subtitle {
    padding:0 !important;
    line-height:normal !important;
}
p.menu-label {
    font-size: 1.1em;
}
