body {
    cursor: default;
}

a {
    display: block;
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.fb {
    color: black;
}

.content-body .notification {
    margin: 1em;
}

.resource {
    font-size: 1.2em;
}

#tv {
    font-weight: bold;
}

.has-background-red {
    background-color: red;
    color: black;
}
