<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>JMedia | <%= title %></title>

    <link href="css/bulma.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

</head>
<body>

<%= content %> 

<script src="js/jq.js"></script>
<script src="js/main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

</body>
</html>
